extends layout

block content
	div(class='well')
		button(id='btnLogout', class='btn btn-primary') Logout
		p(style='display: inline; margin-left: 50px;') Logged in as:  
			strong(id='username')= username
		

	div(class='container', id='chatContainer')
		div(id='chatBox', class='well center-block')
			ul(id='messages')
			input(id='msgInput', autocomplete='off', class='form-control')
			button(id='btnSend', class='btn btn-primary') Send
		div(id='onlineUsers', class='well')
			p 
				strong Online Users
	script(src="/socket.io/socket.io.js")
	script(src="/javascripts/chat.js")