extends layout

block content
	div(class='container')
		div(class='jumbotron text-center', style='margin-top: 150px; padding: 100px 100px 100px 100px;')
			h1 Web Chat
			form(action='/chat', method='post')
				label Enter your username:
				input(type='text', class='form-control', name='username')
				button(type='submit', class='btn btn-primary') Enter
