body {
	background-image: url("/images/bg2.png");
	font-family: "Bree Serif", serif;
}

.well {
	background-color: #FFFFFF;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#welcomeBox {
	border: 1px solid black;
}

#header {
	position: relative;
	height: 75px;
	width: 100%;
	top: 0;
	border-bottom: 1px solid black;
	padding-top: 13px;
	margin-bottom: 75px;
	background-image: url("/images/bg3.png");
	box-shadow: 0px 10px 70px 0px #cccccc;
}

#loggedInAs {
	font-size: 1.7em;
}

#ryguy {
	height: 55px;
	width: 65px;
	float: right;
	margin-right: 55px;
	margin-top: -3px;
}

#btnLogout {
	border: 1px solid black;
	margin-left: 60px;
	margin-top: 1px;
	background-color: white;
}


#chatContainer {
	position: relative;
	text-align: center;
}

#chatBox {
	position: relative;
	height: 500px;
	font-size: 15px;
	word-wrap: break-word;
	text-align: left;
	overflow: auto;
	width:100%;
	margin-bottom: -1px;
	border: 1px solid black;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;

}

#chatBox hr {
	margin-bottom: 0;
	margin-top: 10px;
	padding: 0; 
}

#msgInput {
	background: #FFF; 
	padding: 3px; 
	border: 1px solid black;  
	border-top-left-radius: 0px;
	padding-left: 10px;
}

#btnSend {
	border-top-right-radius: 0px;
	border: 1px solid black;  
}


#onlineUsersBox {
	height: 535px;
	width: 50%;
	min-width: 175px;
	text-align: center;
	border: 1px solid black;
	font-family: "Bree Serif", serif;
}

#onlineUsersBox ul,li {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 18px;
}

#footer {
	position: fixed;
	height: 50px;
	width: 100%;
	bottom: 0;
	border-top: 1px solid black;
	padding-top: 8px;
	background-image: url("/images/bg3.png");
	box-shadow: 0px -10px 70px 0px #cccccc;
}